.cardWrapper {
  min-height: 5rem;
  width: calc(100% - 2 * 1rem / 3);
  height: max-content;
  background: var(--bcolorB);
  border: 1px solid var(--bcolorNyV);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

.cardImage {
  object-fit: contain;
  width: 100%;
  background: var(--bcolorNyV);
  border-radius: 10px 10px 0 0;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bcolorNyV);
  margin: 1rem;
}

.cardPrice {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--bcolorNyV);
  margin: 1.5rem;
}
.vinculos {
  background-color: var(--bcolorNyV) !important;
  color: var(--colorFVC);
  text-align: center;
  font: bold 1.5rem var(--fuenteBase);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vinculos:hover {
  color: var(--colorFVR) !important;
}

@media screen and (min-width: 768px) {
  .cardWrapper {
    width: calc(100% / 2 - 2 * 1rem / 3);
  }
}

@media screen and (min-width: 1200px) {
  .cardWrapper {
    width: calc(100% / 3 - 2 * 1rem / 3);
  }
}
