.vincnav {
  color: var(--colorFVR) !important;
}

.vincnav:hover {
  color: var(--colorFVC) !important;
}

.navbar {
  min-height: 25px;
  background-color: var(--bcolorNyV) !important;
  border-bottom: 1px solid #45b6cc;
}

.isotipoNav {
  max-height: 50px;
}
