.popularProducts {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1em;
}

.vinculos {
  background-color: var(--bcolorNyV) !important;
  color: var(--colorFVC);
  text-align: center;
  font: bold 1.5rem var(--fuenteBase);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vinculos:hover {
  color: var(--colorFVR) !important;
}

@media (max-width: 768px) {
  .vinculos {
    font-size: 1.5em !important;
    padding: 15px;
    max-width: 100%;
  }
  .paginationvinc {
    justify-content: center !important;
  }
}

@media (max-width: 576px) {
  .vinculos {
    font-size: 0.9em !important;
    padding: 15px;
    max-width: 100%;
  }
  .paginationvinc {
    justify-content: center !important;
  }
}
